<div fxLayout="column" fxLayoutAlign="center center" class="container"
  style="font-size: 1.2em;">
  <div style="width: 50%;">
    <h2 style="text-align: center;">About Me</h2>
    <span>
      Hello there!! How are you doing? Thanks for visiting my website. My name is Kunal and I am the author of
      this website. I have built this website with the sole intention of displaying my coding projects. I hope
      you will find my work both interesting and inspiring. Feel free to contact me if you have any questions
      or maybe you just want to say hello. I will be sure to reply to you as soon as I can. Thanks again and
      have a great day.
    </span>
  </div>
  <div fxLayout="row" style="display: flex; width: 50%; margin-top: 20px;">
    <span style="width: 100%; text-align: center;" fxLayoutGap="20px">
      <a style="text-decoration:none;" href="https://github.com/kunalbhatti">
        <img style="width: 4em; border-radius: 50px;" src="assets/icons/github.png">
      </a>
      <a style="text-decoration:none;" href="https://www.linkedin.com/in/kunal-bhatti-b22434208/">
        <img style="width: 4em; border-radius: 50px;" src="assets/icons/linkedin.png">
      </a>
    </span>
  </div>
</div>
